<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon>group</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>group</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>group</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>group</mat-icon>
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <a>
      <span>FAQ</span>
    </a>
    <a>
      <span>Contact us</span>
    </a>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span>Author: Juan Ignacio Cangelosi </span>
    <span class="example-spacer"></span>
    <span> IAW 2017 </span>
  </mat-toolbar-row>
</mat-toolbar>